<h1>Editing turntable</h1>

<%= render "form", turntable: @turntable %>

<br>

<div>
  <%= link_to "Show this turntable", @turntable %> |
  <%= link_to "Back to turntables", turntables_path %>
</div>
